.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text {
  font-size: 2rem;
  font-weight: bold;
}

.negative {
  color: red;
}
.positive {
  color: green;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.stats {
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
